*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width:100%;
}

h4 {
    font-size: 20px;
    line-height: 28px;
}
.section-title{
    
    font-size: 36px;
    color: #000;
    text-align: center;
    padding: 50px 0;
    font-weight: 700;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
header nav ul li{

}
.logo img {
    display: block;
    width: 130px;
    height: auto;
}
header nav ul li a{
    display: block;
    color: #ababab;
    padding: 30px 15px;
    font-size: 14px;
    font-weight: 700;
}
header nav ul .login a{
    background-color: #7243e9;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 3px;
    -webkit-filter: drop-shadow(0 0 15px #999);
    filter: drop-shadow(0 0 15px #999);
}
header nav p{
    color:#ababab;
    display: none;
} 
@media (max-width:768px){
    header nav ul{
        display:none;
       
    } 
    header nav p{
        display: block;
    } 
}



.hero{
    background-image: url(images/author_head_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:80px 0;
}

.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    padding:24px;
}
.hero .container .image {
    max-width:48%;
}
.hero .container .image img{
    border-radius:18px;
}
.hero .container .content .cat a{
    display: initial;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #6c75ff;
    color: #fff;
    border-radius: 20px;
    width: 85px;
    text-align: center;
}
.hero .container .content h1 a {
    display: block;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 20px;
}
.hero .container .content  .author_dtails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap:20px;
    margin-top:20px;
}

.hero .container .content .author_dtails .auth_img {
   
    width: 60px;
    height: 60px;
    border: 7px solid #fff;
    border-radius: 50%;
}
.hero .container .content .author_dtails .auth_desc .auth_links,
.hero .container .content .author_dtails .auth_desc h4 a{
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}


 .post_infos {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    list-style-type: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
 .post_infos li a {
    color: #fff;
    font-size: 14px;
}

 .post_infos li a i {
    margin-right: 10px;
}

@media (max-width:768px){
    .hero .container{
        flex-direction: column;
        padding:10px;
    }
    .hero .container .image {
        max-width:100%;
    }
}

.hero{
position:relative;
}
.down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -23px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    -webkit-box-shadow: 0 5px 20px #ccc;
    box-shadow: 0 5px 20px #ccc;
    z-index: 2222;
}


.featured_post{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}
.featured_post .image {
    position: relative;
}
.featured_post .image img{
    width: 100%;
    height:240px;
    max-height: 100%;
}
.featured_post .box-container .image .cat{
    position: absolute;
    left: 5px;
    bottom: 15px;
}
.featured_post .box-container .image .cat a {
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #727272;
    text-align: center;
}
.featured_post .box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
.featured_post .box ul {
    list-style: none;
    padding: 15px 5%;
    text-align: center;
    background-color: #f6f8fa;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
}

.featured_post .box-container article{
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.featured_post .box-container .content{
    padding:20px;
}
.featured_post .box-container .content .post_infos{
    background-color: #f6f8fa;
    color: #9f9f9f;
    font-size: 12px;

}
.featured_post .box-container .content .post_infos li a{
    background-color: #f6f8fa;
    color: #9f9f9f;
    font-size: 12px;

}




@media (max-width:992px){
    .featured_post .box-container{
        grid-template-columns: repeat(3,1fr);
    }
 
}
@media (max-width:768px){
    .featured_post .box-container{
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width:600px){
    .featured_post .box-container{
        grid-template-columns:1fr;
    }

}


